# first code
for the text header change  code<==>markdown then #space(you can access Till 6#'s) 
note: 1)always run and then move to next cell or else the variable wont be saved

In [1]:
print("hello world")

hello world

In [2]:
x='people'
print('hi',x)

hi people

### key words 
you can't use it for the identifers.

In [3]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Data types
scala= int,bool,float,complex

Aggregated= str,set,list,tuple,dict

In [4]:
x=34; y=67.89; z=True
print('x=',x,'\ty=','/tz=',z)

x= 34 	y= /tz= True

In [5]:
print('type of \nx=',type(x),'\t y=',type(y),"\t z=",type(z))

type of
x= <class 'int'> 	 y= <class 'float'> 	 z= <class 'bool'>

In [6]:
var="abc"
print("var=",var)
print(type(var))

var= abc
<class 'str'>

In [7]:
a=5+6j
print(type(a))
type(a)

<class 'complex'>

complex

In [8]:
a=[1,"a",2,"True"]
print(type(a))
print(a)

<class 'list'>
[1, 'a', 2, 'True']

In [9]:
a=(1,"a",2,"True",1)
print(type(a))
print(a)

<class 'tuple'>
(1, 'a', 2, 'True', 1)

In [10]:
a={1,"a",2,"True",1}
print(type(a))
print(a)  #duplicates aoesnt allows

<class 'set'>
{1, 2, 'a', 'True'}

In [11]:
a={"age":12,
  "name":"Chandan"}
print(type(a))
print(a)

<class 'dict'>
{'age': 12, 'name': 'Chandan'}

# Data Type Conversion

In [12]:
x=40.5
print(type(x))

<class 'float'>

In [13]:
int(x)

40

In [14]:
str(x)

'40.5'

In [15]:
float(x)

40.5

In [16]:
bool(x)

True

In [17]:
y="48.88"

In [18]:
float(y)

48.88

In [19]:
int(float(y))

48

In [20]:
float(y)

48.88

In [21]:
int(float(y))

48

## Data assignment

In [22]:
x=1
y=x
print("the memory location of x and y ", "\n",id(x),"\n", id(y),"\n are the same") #id is the key word for the function to find the location

the memory location of x and y
 140734852674472
 140734852674472
 are the same

In [23]:
x=1
y=2
print("the memory location of x and y ", "\n",id(x),"\n", id(y),"\n are not the same")

the memory location of x and y
 140734852674472
 140734852674504
 are not the same

## Operators
5types=={Arthematis,Assignment, logical,Relational/Comparision,Miscellaneous}

#### Arthematic operators

In [24]:
print(12+10)

22

In [25]:
print(12-10)

2

In [26]:
print(12*10)

120

In [27]:
print(12/10)

1.2

In [28]:
print(12%10)   #to find the remainder

2

In [29]:
print(12//10)  #to  find quoitent

1

In [30]:
print(2**5) # power or exponent

32

#### ASsignment Operator

In [31]:
a=10
a += 5 # which is also similar to a= a + 5

In [32]:
print(a)

15

In [33]:
a-=5
print(a)

10

In [34]:
a *= 5
print(a)

50

In [35]:
a=25
a /= 5
print(a)

5.0

In [36]:
a **= 5

In [37]:
print(a)

3125.0

In [38]:
a %= 3
print(a)

2.0

In [39]:
print(a)

2.0

 #### Comparision operator

In [40]:
x=20; y=20
x==y

True

In [41]:
x=20; y=20
x!=y

False

In [42]:
x=20;y=15
x>y

True

In [43]:
x=20;y=15
x<y

False

In [44]:
x=20;y=15
x>=y

True

In [45]:
x=20;y=20
x<=y

True

#### Logical operators

In [46]:
a=1
b=2
a==1 and b==2

True

In [47]:
a=1
b=2
a==1 and b==0

False

In [48]:
a=1
b=2
a==1 or b==0

True

In [49]:
a=1
b=2
a==0 or b==1

False

In [50]:
b=0
b==1
print(b==1)
not b

False

True

#### Miscellaneous operatores
2 types

1.Identity operators : is , is not

2.Membership operator: in , not in

In [51]:
a=['a','b','c']; b=['a','b','c'] # identity operators checks for the same objects in the memory location

In [52]:
a is b # we acn use print also

False

In [53]:
a=['a','b','c']; b=a
print(a is b)

True

In [54]:
a=['a','b','c']; b=a
a is not b

False

In [55]:
a=[10,20,30] 
20 in a

True

In [56]:
a=[10,20,30] 
20 not in a  #not in reverse the result

False

In [57]:
a=[10,20,30] 
50 in  a

False

In [58]:
a=[10,20,30] 
print(50  not in  a )

True

## Strings

In [59]:
a= "hello people are you exited!"
B= 'hello people are you exited!'

C="He's my Friend"
print(a)
print(B)
print(C)

hello people are you exited!
hello people are you exited!
He's my Friend

In [60]:
D="hi people.\nmy name is chandan \t ; learning python"
print(D)

hi people.
my name is chandan 	 ; learning python

In [61]:
f= ''' hi people
 of India. hope everyone doing
 great'''
print(f)

 hi people
 of India. hope everyone doing
 great

# Class 2
##### String methods

In [62]:
string = "hi i am chandan"
print(string.upper()) # we can also use with out print for the output

HI I AM CHANDAN

In [63]:
string =  'HI I AM CHANDAN'
print(string.lower())
print(string.lower)# to find the location without braces used

hi i am chandan
<built-in method lower of str object at 0x000001DE78DB8030>

In [64]:
string = "hi i am chandan"
print(string.capitalize())

Hi i am chandan

In [65]:
string = "hi i am chandan"
string.title()

'Hi I Am Chandan'

In [66]:
string = "hi i am chandan"
string.strip()

'hi i am chandan'

In [67]:
string =  'HI I AM CHANDAN'
print(string.strip())

HI I AM CHANDAN

In [68]:
string.count('I')

2

In [69]:
string.endswith("AN")

True

In [70]:
print(len(string))

15

## File handelling in Python

In [71]:
file= open("example.txt",'r') # open the file
content= file.read() # read the content
print(content)  # print The content
file.close()   # close the file

FileNotFoundError: [Errno 2] No such file or directory: 'example.txt'

In [ ]:
file= open("example.txt",'w')  # write 
file.write ('Hello all')
print(file)
file= open("example.txt",'r')
content= file.read() 
print(content)
file.close()

In [ ]:
file.close()

In [ ]:
file= open("example.txt",'w')  # write
file.write('i am learning how to write')

In [ ]:
file.close()

In [ ]:
file=open('example.txt','r') # in jupyter  to see the text over-write content in file  takes time 
print(file.read())
file.close()

In [ ]:
file= open('example.txt','a')  # append
file.write('\ni am adding content in next line without overwiriting')
file.close()

In [ ]:
file= open('example.txt','r')
c=file.read()
print(c)

In [ ]:
file.close()

## Conditional statement

In [ ]:
nationality = "Indian"
if nationality == "french" :
    print("hello")
else:
    print("hola!")

In [ ]:
nationality = "Indian"
if nationality == "french" :
    print("hello")
elif nationality == 'Indian':
    print('Namesthe')
else:
    print("hola!")

In [ ]:
nationality = "Indian"
if nationality == "Indian" :
    print("Nameste")
    if nationality == 'French':
        print('hola')
else:
    print("hello")

In [ ]:
a= 25
if a >= 18 :
    print("can vote") 
    if a == 10:
        print ("can not vote")
else:
    print("can not vote")

In [ ]:
start= "time left"
if start== "rains tomorrow" :
    print('go and do chlothes and chore')
elif start == "time left":
         print('do taxex')
else:
         print('swimming')

In [ ]:
marks= 75
if marks >=90:
    print("grade : A")
elif marks >=75:
    print("grade : B")
elif marks >=55:
    print("grade : c")
elif marks >=35:
    print("grade : D")
else:
    print("grade : F")

In [ ]:
marks =65
if marks >=90 :
    print("Grade :  A")
elif marks  >=75 and marks < 90:
    print("grade : B")
elif marks  >= 55 and marks < 75:
    print("grade : c")
elif marks  >=35 and marks < 55:
    print("grade : D") 
else:
    print("grade : f")

In [ ]:
a=5
b=6
c=7

In [ ]:
if  a > b:
    print("a is  greater than  b") # since this is false the entire if and nested if block get skip and moves to the next else block
    if  a>c :
        print("a is also  greater than c ")
    else:
        print("a is smaller then c and b")
else :
    print("b is greater than a")
    if b>c :
        print("b is greater than c")
    else:
        print("b is smaller than c")

# Loops
for multiple times printing or repeate the instructions of statements or group of statements

In [ ]:
a= "hello"
i=1
while i<10:
    print(a) # prints 1 to n-1 times
    i+=1 # we are Incrementing

In [ ]:
a= ["Mango","apple"]
for string in a:
    print(string)
    for string2 in string:
        print (string2)

In [ ]:
for i in range (0,10,2):
    print(i)

In [ ]:
for i in range(1,10,2):
    print(i)

In [ ]:
n= 10
i=0
while i<10:
    print (" hi people") # prints  0 to n-1 times
    i+=1

In [ ]:
range(0,10)

In [ ]:
for i  in range (10):
    print ("Hi There!") # prints 0 to 9 i.e n-1

In [ ]:
 for i in range(2,10,2):
        print(i)

In [ ]:
string= "python"
for i in string :
    print(i)

#### Nested loop

In [ ]:
a= ["Mango","apple"]
for i in a:
    print(i)
    for j in i:
        print (j)

In [ ]:
a= ["Mango","apple"]
for i in a:
    print(i)
for j in i:
     print (j)

a= ["Mango","apple"]
for i in a:
    print(i)
    for j in i:
        print (j, end=" ")
    print("\n")

In [ ]:
for i in range (2,11):
    for j in range (1,11):
        print('{:2d} x{:2d}={:2d}'.format(i,j,i*j))
    print("end of multiplication")

In [ ]:
for i in range (10): # testing
    print(i)

## Loop controll Statements 
break

continue

In [ ]:
string= "python"
for i in string:
    if i== "h":
        break # gets out of loop or stops the loop
    print(i)

In [ ]:
string= "python"
for i in string:
    if i== "h":
        continue # skips the character
    print(i)

# Loop else statement

In [ ]:
number=[1,2,3,4,5,6]
for i in number:
    if i== 4:
        print("number Found")
else :
    ("number not found")

In [ ]:
number=[1,2,3,4,5,6]
for i in number:
    if i== 8:
        print("number Found")
else :
    print("number not found")

In [ ]:
n=0
while n< 5:
    print("num",n)
    if n==3:
        print ("found 3")
        break
    n += 1
   
else:
    print ("not")

# Function

In [ ]:
def Sum_of_2_no(x,y):
    print(x+y)

In [ ]:
Sum_of_2_no(10,20)

In [ ]:
Sum_of_2_no(120,130)

In [ ]:
def greetings_1 (Name):
    print("Hi",Name)
greetings_1("Chandan")

In [ ]:
def greeting (Name):
    print("Hi",Name)
greeting("Chandan")

In [ ]:
greeting("Raju")

In [ ]:
def greetings(Greeting,Name,Age):
    print(Greeting,"\nMy Name:",Name,"\nMy age:",Age)
greetings ("Hello","Chandan",23)

In [ ]:
greetings ("Hello",23,"Chandan")

## Default Parameters Function

In [ ]:
# to avoid these kind of the above mistake we can add variable name inside the function call parenthesis
greetings(Greeting="Hello",Name="Chandan",Age=23)

In [ ]:
greetings(Name="Chandan",Greeting="Hello",Age=23)

In [ ]:
 def greetings(Name="Chandan",Greeting="Hello",Age=23): # We can write these type also, THis is Known as valuse writing along with the arguments
    print(Name,Greeting,Age)

In [ ]:
print(greetings())

In [ ]:
 def greetings(Name,Greeting="Hello",Age=23):  # note always the 1st argument can not be default agrument
    print(Name,Greeting,Age)

In [ ]:
greetings('chandan')

In [ ]:
greetings('chnadan','Hi....',24) # these overwrites the default valuse.  You can see chanfe from Hello<==>Hi...., 23 to 24

In [ ]:
greetings(Greeting="hi",Name='chanadan',Age=24)

# Arbitary Functions
*args

**kwargs

In [ ]:
def sum_of_num(x,y):
    print(x+y)
sum_of_num(10,20,30) # for these to over come the error we use arbitary functions

In [ ]:
def sum_of_numbers_v2(*num):     # *args
    sum=0
    for i in num:
        sum +=i
    print(sum)
sum_of_numbers_v2(10,20,30,1234,89,90,10000)

Task: Prepare a function, which can take n number of arguments and it has to print the heighest number

In [ ]:
def max_no(*num):
    Number=0
    for i in num:
        if i>Number:
            Number=i
    print(Number)
max_no(1,2,3,4,5,10)

##  understand what is dictionary

In [ ]:
my_dict={"Name":"Chanadan","Age":23,"pass":True}
my_dict.keys() # returns the keys

In [ ]:
my_dict.values() #Gives the values

In [ ]:
my_dict.items() # gives the pairs

In [ ]:
my_dict['Name']

### **Kwargs

In [ ]:
def information(**info):
    for i in info.keys():
        print(i,":",info[i])

In [ ]:
information(name = "Chandan",Age = 23) # this takes the n number of dict values

In [ ]:
information(name="\tChandan",Age="\t23",Sur_name="\tN",Qualification= "\tBtech")

In [ ]:
information(name=["Chandan","Rajesh","Abhi"],Age=[23,22,22],Sur_name="\tN",Qualification= "\tBtech")  # if we wants to unpack we can use the loops

In [ ]:
def information(**info): ## We can use item dict aswell
    for i,j in info.items():
        print(i,":",j)

In [ ]:
information(name = "Raju",Age = 23)

# Difference between Dictionary And **kwargs
Dict==> key: values pairs  ("key":"value") 

**kwargs ==> varible = value (variable = "valuse")

bothe have the quotation difference in keys or variables and also the symbols (:)<==> (=)

# Return statement

In [ ]:
def myfunc (x,y):
    return(x+y)

Sum_num= myfunc(10,20)

In [ ]:
print(Sum_num)

## Scope of function

In [ ]:
var= 10  this is the global variable 
print(var)

In [ ]:
def myFunc(inp): # inp is also the local variable 
    Lc= 30 # this is the local variable
    print (Lc)
    print ("print inp",inp)
    print("this is pass and call global inside the local ", var)

In [ ]:
myFunc(40)

In [ ]:
print(Lc) # Returns the error,bcz local variable

In [ ]:
print (inp) ## Returns the error, bcz its a local variable

## Generator Function

In [ ]:
def myfunc():
    n =1
    print("First iteration")
    yield "number 1 : n =" +str(n)
    
    n += 2
    print("Secondt iteration")
    yield "number 1 : n =" +str(n)
    
    n += 3
    print("Third iteration")
    yield "number 1 : n =" +str(n)

In [ ]:
gen = myfunc()

In [ ]:
print(next(gen))

In [ ]:
print(next(gen))

In [ ]:
print(next(gen))

In [ ]:
print(next(gen)) # returns erro it can take only 3 times

## Built in functions

In [ ]:
print(dir(__builtins__))

# Lambda function

In [ ]:
add_10= lambda x:x+10

In [ ]:
print(add_10(10))

In [ ]:
# x=o
# y=0
multiplication = lambda x,y:x * y
print(multiplication(10,17))

In [ ]:
square_value= lambda x:x**2
print(square_value(5))

In [ ]:
print(square_value(8)) # we can reuse it

# >Functional programming methods
 ## MAP, FILTER, REDUCE 
 THESE ALSO USE BOTH NORMAL ASWELL AS LAMBDA FUNCTIONS

### MAP

In [ ]:
def temperature(T):  
    return ((9/5)*T)+32

In [ ]:
temperature(37)

In [ ]:
tempe = [22.0,54.35,41.5,32.6,40.0,60.2]
for T in tempe:
    f=((9/5)*T)+32
    print('{:5.1f} in degree C is equivalent to {:6.1f} in f=degree f'.format(T,f))

In [ ]:
tempe = [22.0,54.35,41.5,32.6,40.0,60.2]  
res = list(map(lambda T:((9/5)*T)+32, tempe))

In [ ]:
res

## filter

In [ ]:
num =[12,13,14,15,16,17,18]
odd_num=list(filter(lambda x:x%2,num))
print(odd_num)

## Reduce 
it is module named "_functools"

In [ ]:
from _functools import reduce

In [ ]:
number= [2,4,6,8,10,12]
result= reduce(lambda x, y : x+y, number)
result

# Class 3
# OOP's- [Object Oreanted Programming]

In [ ]:
x=1
print(type(x))

In [ ]:
x= "hello"
print(type(x))

In [ ]:
def x_num ():
    print ("Even")
print(type(x_num))  # these all above and this code gives the calss

### Class 
##### Creating a class

In [ ]:
class Dog:
    def Bark(self): # Minimum agrument you have to give a function inside the class is "self".
        print("Bark!")

#### Object creation

In [ ]:
d= Dog() # create an instance of class Dog (Alays an Object is an instance of class )

In [ ]:
print(type(d))

In [ ]:
d.Bark()

In [ ]:
# tyr adding multiple  methode in d=side the class 
class Dog:
    def bark(self):
        print ("Bark!")
    def adding (self,x):
               return x+1

In [ ]:
d= Dog()
d.bark()
d.adding(5)

###### Method that gets automatically exicuted as soon as an object is created is __ init __() method [also known as constructor]

In [ ]:
class Dog:
    def __init__ (self,name):
        self.name=name  # creating the attributes of the class dog
        print("hello",  name)
    def bark(self):
        print ("Bark!")
    def adding (self,x):
        return x+1

In [ ]:
d=Dog("tim")

In [ ]:
d2= Dog("Bill")

Bothe the objects  d and d2 are different and detials stored in different places

In [ ]:
# macking the method to call name 
class Dog:
    def __init__ (self,name):
        self.name=name
    def get_name(self):
        return self.name

In [ ]:
d= Dog("Tim")
print(d.get_name())

In [ ]:
# adding more attributes 
class Dog:
    def __init__(self, name, age):
            self.name=name
            self.age=age 
    def get_name(self):
            return self.name
    def get_age (self):
            return self.age

In [ ]:
d=Dog("Tom",5)
print(d.get_name())
print(d.get_age())

In [ ]:
# try modifying the athributes    ex: after few years the age get change
class Dog:
    def __init__(self, name, age):
            self.name=name
            self.age=age 
    def get_name(self):
            return self.name
    def get_age (self):
            return self.age
    def set_age(self,age):
        self.age = age

In [ ]:
d= Dog("tim",4)
d.get_age()
# print(d.set_age(8))

In [ ]:
d.set_age(8)

In [ ]:
print(d.get_age())

# we can also use input here to call the age 
age = int (input("Enter the age:"))
print(d.get_age())

 ### Creating multiple classes

In [ ]:
class Student:
    def __init__ (self,name, age, marks):
        self.name=name
        self.age=age
        self.marks= marks 
    def get_marks(self):
        return self.marks

In [ ]:
class Course:
    def __init__(self, course_name,max_student):
        self.course_name=course_name
        self.max_student=max_student
        self.student=[]
    def add_student (self,student):
        if len(self.student)< self.max_student:
            self.student.append(student)
            return True
        return False
    def get_avg (self):
        value=0
        for student in self.student:
            value += student.get_marks()
        return value/len(self.student)

In [ ]:
S1= Student("Chandan",23,95)
S2= Student("Rju",23,85)
S3=Student("Manu",23,75)

In [ ]:
course1 = Course("Python",2)

In [ ]:
course1.add_student(S1)

In [ ]:
course1.add_student(S2)

In [ ]:
course1.add_student(S3) # BCZ the max capacity of class is 2

In [ ]:
course1.get_avg()

In [ ]:
course1.student[0].name # 0 is the index

## Pillers of OOPS

### 1) INHERITANCE & its  Types

### single-level (1P-1C),
### multi-level (1P->C1->C2),
### multiple (1P-2P-C), 
### hierarchial (1P-C1-C2)

In [79]:
class Pet: # parent class 
    def __init__ (self, name, age):
        self.name=name
        self.age=age
    def show(self):
        print("I am ",self.name,"and my age is",self.age)
    def speak(self):
        print("I don't know  what to speak")

In [80]:
class Cat(Pet): # child 1 class 
    def speak(self):
        print("Meow")
class Dog(Pet):  # child 2 class 
    def speak(self):
        print("Bark")

In [81]:
p=Pet("jerry",5)
p.show()

I am  jerry and my age is 5

In [83]:
c=Cat("Jim",3)

In [84]:
c.show()

I am  Jim and my age is 3

In [85]:
c.speak()

Meow

In [86]:
d= Dog("Rio",6)
d.show()

I am  Rio and my age is 6

In [87]:
p.speak()

I don't know  what to speak

In [88]:
d.show()
d.speak()

I am  Rio and my age is 6
Bark

### 2)Encapsulation
##### It is use of access modifiers (i.e., Public, Protected and Private) in OOPS

In [101]:
class Student:
    counter=0
    def __init__(self,name,fathername,age):
        self.name=name
        self.fathername= fathername
        self.age=age
        Student.counter=+ 1
        
        self._roll_no = "A2011/{}/{:003d}".format(self.name[:3].upper(),Student.counter) #protected
        self.__file_no= "A2011/{}/{:003d}".format(self.name.upper(),Student.counter) #private
    def print_info(self):
        print("name :",self.name)
        print("fathername :",self.fathername)
        print("Roll no :",self._roll_no)
        print("File no :",self.__file_no)

In [102]:
S1=Student("John Davis","Malcom davis", 10)
S1.print_info()

name : John Davis
fathername : Malcom davis
Roll no : A2011/JOH/001
File no : A2011/JOHN DAVIS/001

In [103]:
class Science(Student):
    def display(self):
        print("name :",self.name)
        print("fathername :",self.fathername)
        print("Roll no :",self._roll_no)
        print("File no :",self.__file_no)

In [105]:
Sc1= Science("John Davis","Malcom davis", 10)
Sc1.print_info()

name : John Davis
fathername : Malcom davis
Roll no : A2011/JOH/001
File no : A2011/JOHN DAVIS/001

In [106]:
Sc1.display()

name : John Davis
fathername : Malcom davis
Roll no : A2011/JOH/001

AttributeError: 'Science' object has no attribute '_Science__file_no'

## 3)Polymorphism
### types of Polymorphism  

### 1) Compile time ===>  (1) Method overloading (2) Operator overloading
### 2) Run time ===> Method overriding

### Operator overloading
below example + acts multiple types

In [107]:
x=1
y=2
print(x+y)

3

In [114]:
x= "Hello "
y= "world"

In [115]:
print(x+y)

Hello world

### Method overloading 

In below example, inside, method b acts as multiple types

In [116]:
class Shape:
    def area(self,a,b=0):
        if b == 0:
            return 3.14*a*a
        else:
            return a*b

In [117]:
shape= Shape()

In [118]:
shape.area(9)

254.34

In [119]:
shape.area(9,4)

36

 ### Method overriding

In [121]:
class information:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
    def print_info(self):
        print('Name   : ', self.name)
        print('Age    : ', self.age)
        print('Gender : ', self.gender)

In [122]:
class learners(information):
    def __init__(self, name, age, gender, exp, qual):
        information.__init__(self, name, age, gender)
        self.qual = qual
        self.exp = exp
    def print_info(self):
        '''print_info function of derived class overrides the print_info function of parent class'''
        print('Qual   : ', self.qual)
        print('Exp    : ', self.exp)

In [124]:
obj= learners("Jhon Davis",28,"M",3,"Graduate")

In [125]:
obj.print_info()

Qual   :  Graduate
Exp    :  3

In [127]:
obj2= information("Jhon Davis",28,"M")

In [128]:
obj2.print_info()

Name   :  Jhon Davis
Age    :  28
Gender :  M

In [129]:
class information:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
    def print_info(self):
        print('Name   : ', self.name)
        print('Age    : ', self.age)
        print('Gender : ', self.gender)

In [130]:
class learners(information):
    def __init__(self, name, age, gender, exp, qual):
        information.__init__(self, name, age, gender)
        self.qual = qual
        self.exp = exp
    def print_info(self):
        '''print_info function of derived class overrides the print_info function of parent class'''
        information.print_info(self)
        print('Qual   : ', self.qual)
        print('Exp    : ', self.exp)

In [131]:
obj= learners("Jhon Davis",28,"M",3,"Graduate")

In [132]:
obj.print_info()

Name   :  Jhon Davis
Age    :  28
Gender :  M
Qual   :  Graduate
Exp    :  3

## 4) Abstraction

In [133]:
from abc import abstractmethod, ABC

In [135]:
class Bankapp(ABC):
    def database(self):
        print("Connected to the database")

    @abstractmethod   # it means in every class this function need to be there or else it throghs an error
    def security(self):
        pass

In [137]:
class Webapp(Bankapp):
    def web_login(self):
        print("logged in the web app")

In [138]:
obj1= Webapp() # returns error bcz. in class Webapp static operator is not used

TypeError: Can't instantiate abstract class Webapp without an implementation for abstract method 'security'

In [145]:
class Webapp(Bankapp):
    def web_login(self):
        print("logged in the web app")
    def security(self):   # since this method specifed from class or by @staticmethod self is optional to use 
        pass

In [143]:
obj1= Webapp()

In [144]:
obj1.database()
obj1.web_login()

Connected to the database
logged in the web app